In [35]:
import pandas as pd
from datetime import timedelta, date
import time

## Crawl the data

In [ ]:
origin_url = 'https://www.twse.com.tw/exchangeReport/STOCK_DAY_AVG?response=csv&'
stockNo = '2313'
start_date = date(2016, 1, 1)
end_date = date(2021, 1, 3)

current_date = start_date
d = current_date.strftime('%Y%m%d')
url = origin_url + 'date=' + d + '&stockNo=' + stockNo
df = pd.read_csv(url, encoding= 'big5', skiprows = [0], skipfooter = 5).drop(columns=['Unnamed: 2'])

# jump by month
while current_date < end_date:
    carry, new_month = divmod(current_date.month, 12)
    new_month += 1
    current_date = current_date.replace(year=current_date.year + carry, month=new_month)
    d = current_date.strftime('%Y%m%d')
    print(d, end='\r')
    url = origin_url + 'date=' + d + '&stockNo=' + stockNo
    temp_df = pd.read_csv(url, encoding= 'big5', skiprows = [0], skipfooter = 5, engine='python').drop(columns=['Unnamed: 2'])
    df = pd.concat([df, temp_df], axis=0, ignore_index=True)
    time.sleep(5)

In [145]:
df.to_csv('Share_price_data.csv', index = False)

In [144]:
df

             日期    收盤價
0     105/01/04  21.55
1     105/01/05  21.65
2     105/01/06  20.10
3     105/01/07  18.90
4     105/01/08  20.20
...         ...    ...
1211  109/12/25  43.75
1212  109/12/28  43.70
1213  109/12/29  43.15
1214  109/12/30  43.50
1215  109/12/31  43.50

[1216 rows x 2 columns]